@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Lato:ital,wght@1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Navbar Styles */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    position: relative;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}

.navbar-toggle-btn {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #fff;
    margin: 0;
    position: absolute;
    top: 15px;
    right: 15px;
}

.burger-icon {
    font-size: 1.5em;
    cursor: pointer;
    color: #fff;
    margin: 0;
}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    margin-right: 20px;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

/* Add styles for the dropdown menu */
.navbar-links ul {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.navbar-links li:hover ul {
    display: flex;
    flex-direction: column;
}

.navbar-links li:hover a {
    color: #ffd700;
}

.navbar-links li:hover li {
    margin-right: 0;
}

.navbar-links li li {
    display: none;
}

.navbar-links li:hover li {
    display: block;
    margin-top: 10px;
    /* Adjust spacing for dropdown items */
}

#navbar-toggle {
    display: none;
}

.title {
    margin: 0;
    font-size: 1.5em;
    visibility: visible;
}

#navbar-toggle:checked+.container .title {
    visibility: hidden;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar-toggle-btn {
        display: block;
    }

    #navbar-toggle:not(:checked)+.container .navbar-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        background-color: #333;
        z-index: 2;
    }

    #navbar-toggle:checked+.container .navbar-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10px;
        right: 0;
        width: 100%;
        background-color: #333;
        z-index: 2;
    }

    #navbar-toggle:checked+.container .navbar-toggle-btn {
        z-index: 3;
    }

    .navbar-links li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/* Global Styles */
body {
    background-image: url("assets/images/low-angle-view-unrecognizable-muscular-build-man-preparing-lifting-barbell-health-club.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(216, 12, 12);
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Main Content Styles */
#main-content {
    flex: 1;
    margin-top: 20px;
}

#main-content h2 {
    color: #333;
}

#main-content p {
    color: #555;
}

#fitness {
    text-align: center;
    padding: 20px;
}

.inspirational-quote {
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inspirational-quote h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.inspirational-quote p {
    font-size: 1.2em;
}

.inspirational-image {
    background-image: url('assets/images/1608.m00.i125.n001.P.c25.412978636 Active running woman vector illustration. Energy jogging woman design.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 20px 0 20px;
    height: calc(100vh - 120px);
    /* Adjusted height to make it responsive and glued to the footer */
}

#benefits-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Footer Styles */
.main-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

#social-networks {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}

#social-networks li {
    display: inline-block;
    margin-right: 10px;
}

#social-networks a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

/* Social Icons */
.fa-facebook {
    color: #3b5998;
}

.fa-twitter-square {
    color: #1da1f2;
}

.fa-youtube-square {
    color: #c4302b;
}

.fa-instagram {
    color: #e4405f;
}